* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #111;
}

.banner__fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
